export(spec2)
export(alpha)
export(cr)
export(kmo)
export(bartlett)
export(par)
export(lm)
S3method(summary,psychh_lm)
S3method(print,summary_psychh_lm_reported)
S3method(print,summary_psychh_lm_computed)
